@media print{
	.screenOnly 
	{display: none !important;}
	
	.t-Header 
	{display: none !important;}
	
	.t-Body-fullContent
	{display: none !important;}
	
	.a-IRR-controlsContainer
	{display: none !important;}

	.a-IRR-toolbar
	{display: none !important;}
	
	.a-DevToolbar 
	{display: none !important;}
}  

@media screen{
	.printOnly {    display: none;   }  
}


@media all {
	.CTA-1 {
		background-color: #ABEBC650;
		border: 2px solid  #22995499;
	}

	.CTA-2 {
		background-color: #D7BDE250;
		border: 2px solid  #8E44AD99;
	}
}